/*  Name: Samuel Howell
    Date: 12-3-20
*/

/*  Global styles ---------------------------------------------------------*/

html {      /* this is called the box fix. add it to every project. */
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #FFE728;
}

h1 {
    color: #328E00;
    background: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    margin: auto;
    padding: 20px;           /* this padding and the border-radius makes it look like a button */ 
    border-radius: 20px;
    border: 5px solid;
    width: 25em;   
}

button {
    background-color: #FFD600;
    font-size: 17px;
    padding: 15px;
    border-radius: 10px; 
    display: inline-block;
    width: 10em;

}

/*text field styles--------------------------------------------*/
.lastNameOrderID {
    color: #328E00;
    background: #ffffff;
    text-decoration: none;
    font-size: 17px;
    padding: 15px;              /* this padding and the border-radius makes it look like a button */ 
    border-radius: 10px;
    border: 3px solid;
    width: 25em;
    margin-bottom: 20px;        /* spaces out the buttons a bit more */
    margin-left: 25%;           /*TODO:fix this to make the left margin more even */
    margin-right: 10%;       
    
    display: inline-block;
}

.orderStatus h1 + p {   /* impacts the first p after the h1 in the orderStatus section */
    margin-top: 5%;
}

.home_btn {
    position: relative;     /* Declared position allows for location changes */
    float: right;           /* move it to the right side of the screen */
    top: -100px;             /*move the image 10px closer to the top of the page */
    left: -20px;
}



/*TODO: ADD RESPONSIVE STYLES*/
/*Responsive Styles
-----------------------------------*/
@media screen and (min-width: 750px)   /*everything under here applies to viewports 750px or larger.  If you did anything smaller, it would have to be 749 px, because you cant have two media quires with the same px size*/
{
    .username_field {
        margin-top: 35%;
    }
}

@media screen and (max-width: 375px)  /*width of an iphoneX.  Applies to any viewport size under 375px*/
{

    .username_field {
        margin-top: 37em;
    }
}